/* .wrapper{
  display: flex;

} */

@use "variables" as *;
@use "mixins" as *;

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem; 
    font-family: $header-font;
    font-size: 1.5rem;
    align-items: center;
   
  }

  ul{
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  li{
    // padding-right: 1.5rem;
    // padding-left: 1rem;
    list-style: none;
  }
  header{
    background-color: $dark-purple; 
  }
  
  .wowies{
    font-size: 3rem;
    padding: 0.5rem 0;
    margin: 0;
  }
  
  .about{
    display: flex;
    line-height: 1.5rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
  
  }
  
  footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: $dark-purple; 
    width: 100%;
    font-family: $header-font;
  }
  
  .tmbd{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin: 0 auto;
  }
  
  nav{
    @include mq($tablet){ 
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 10px;
    }
    
  }

  .movie-list{
    display: flex;
    justify-content: center;
  }

  main{ 
    padding-bottom:65px; 
  }

//   .movie-image-wrap:hover{
//     opacity: 1; 
//   }
//   // for hover effect 
//    .movie-image-wrap {
//      position: relative;
//     //  display: inline-block;
//    }
//   .more-info {
//     align-items: center;
//     background-color: $light-purple;
//     border: 0;
//     border-radius: 100px;
//     box-sizing: border-box;
//     color: #ffffff;
//     display: inline-flex;
//     font-size: 16px;
//     font-weight: 600;
//     justify-content: center;
//     line-height: 20px;
//     max-width: 480px;
//     min-height: 40px;
//     min-width: 0px;
//     overflow: hidden;
//     padding: 0px;
//     padding-left: 20px;
//     padding-right: 20px;
//     text-align: center;
//     user-select: none;
//     vertical-align: middle;
//     margin: 0 auto;
// }

  //  .movie-card-title{
  //   font-weight: 700;
  //   top: 0;
  //   position: absolute;
  //   padding-top: 5px;
  //   padding-left: 5px;
  //  }

  //  .movie-card-release-date{
  //   padding-left: 5px;
  //  }
   
  //  .movie-card-average{
  //   padding-left: 5px;
  //  }
  
  //  .movie-image-wrap img {
  //    display: block;
  //    width: 200px; 
  //    height: auto; 
  //  }
  
  //  .overlay {
  //    position: absolute;
  //    top: 0;
  //    left: 0;
  //    width: 100%;
  //    height: 100%;
  //    background-color: rgba(0, 0, 0, 0.5); 
  //    color: white;
  //    display: none;
  //    justify-content: center;
  //    align-items: center;
  //    text-align: center;

  //    p, 
  //    h2, 
  //    button { 
  //     text-align: center;
  //     margin: 0 auto;
  //    }

  //  }
  
//  .overlay p {
//      margin: 0;
//      font-size: small;
//    }
  
   .movie-image-wrap:hover .overlay {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-evenly;
    align-content: flex-end;
   }
   .main-nav{ 
    ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    // margin-top: 10px;
    gap:1rem; 
    align-items: center;
    } 

    li{ 
      padding: 0 1rem;
    }
  } 
  //for hover effect

  // .alice-carousel__stage{
  //   gap: 2rem;
  // }
  // .alice-carousel__stage-item.__active.__target{ 
  //   width: 100%;
  // }
  .alice-carousel__dots{
    display: block;
    width: 100%;
    // display: none;
    overflow: hidden;
    margin:0 auto; 
  }
  .alice-carousel__stage-item {
    min-width: 100%;
    z-index: 0;
    display: block;
    line-height: 0;
    object-fit: cover;
    object-position: center;
    background-position: center;
    display: flex;
    position: relative;

    // img {
    //   // position: absolute;
    //   object-fit: cover;
    //   height: 80vh;
    //   width: 100%;
    // }
  }
  .alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active{
    background-color: $light-purple;
  }
  /* Ensure dots container is scrollable */
  
.alice-carousel__dots {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent dots from wrapping */
  padding: 10px 0; /* Add padding as needed */
}

/* Adjust dot size and spacing */
.alice-carousel__dots-item:not(.__custom) {
  padding: 0.3rem;
  width: auto;
  height: auto;
  margin: 0 3px;
}

.alice-carousel__dots-item:not(.__custom):not(:last-child){
  margin-right: 2px;
}

.alice-carousel__dots-item:not(.__custom):last-child{
  margin: 0;
  margin-left: 2px;
}
/* Adjust active dot color */
.alice-carousel__prev-btn, .alice-carousel__next-btn{
  display: none;
}




  @media screen and (max-width:700px){
    
    /* about us media queries */
    .about{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: larger;
      justify-content: center;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
  
      }
  
      nav{
        // bottom: 0;
        // width: 100%;
        // position: fixed;
        z-index: 100;
        // display: flex;
        // justify-content: center;
        background-color: $dark-purple;

        position: fixed;
        bottom: 0;
        left:0; 
        height: 65px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        // justify-content: space-around;
      }
  
      .about-wowies{
        font-size: 1.2rem;
      }
  
      .about-body{
        font-size: 0.9rem;
  
      }
  
      .tmbd{
        width: 120px;
      }

      footer{
        display: none;
      }
      
  
  }
  
  
  