// colours
$background-purple: #00012b; 
$dark-purple: #240056; 
$light-purple:  #926DC6; 
$text-color: #ffff; 

// fonts 
$header-font:  'DM Serif Display', serif;
$body-font: 'Roboto', sans-serif;

$desktop:1440px;
$tablet:420px;